@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}
body {
  font-family: "Comfortaa";
  padding: 0;
  margin: 0;
}
a:hover,
a:focus {
  text-decoration: none;
}


.wrapper {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin: 0 auto;
}
/* Nav */
.nav {
  width: 100%;
}
.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0px;
  margin: 0;
}
.nav a {
  color: black;
  padding: 20px;
  line-height: 50px;
}
.nav a:hover {
  color: rgb(255, 255, 255);
}
.nav__item:hover {
  background: rgb(20, 20, 20);
}

@media screen and (max-width: 650px) {
  .nav__list {
    flex-direction: column;
  }
}
/* End Nav */

/* Main */
.main-container {
  display: flex;
  justify-content: center;
}
/* Left side */
.left-side {
  background: #000;
  width: 35%;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}
.main-photo img{
  width: 100%;
}
.about-me {
  padding: 20px;
}
.contact {
  padding: 20px;
  margin-top: 20vh;
}
.contact ul {
  margin: 0;
  padding: 0;
}
.contact__list li {
  list-style: none;
  font-style: italic;
}
.contact__list .item1:before, .item2:before, .item3:before, .item4:before, .item5:before {
  content: "";
  background-size: cover;
  height: 22px;
  width: 22px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.contact__list .item1:before {
  background-image: url("../img/ico/location.png");
}
.contact__list .item2:before {
  background-image: url("../img/ico/mail.png");
}
.contact__list .item3:before {
  background-image: url("../img/ico/github.png");
}
.contact__list .item4:before {
  background-image: url("../img/ico/telegram.png");
}
.contact__list .item5:before {
  background-image: url("../img/ico/discord.png");
}
/* End Left side */

/* Right side */
.right-side {
  width: 65%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.page-title {
  border-bottom: 3px solid #000;
  padding: 100px 10px 100px;
}
.page-title h1, .page-title p {
  text-align: center;
  margin: 0;
}
h1 {
  font-size: 46px;
  text-transform: uppercase;
}
.page-title p {
  font-size: 22px;
  margin-top: 8px;
}

/* Projects */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.projects-header {
  width: 100%;
}
.projects__item {
  width: 49%;
}
.projects__item img {
  width: 100%;
  border-radius: 10px;
  filter: grayscale(100%);
}
.projects__item img:hover {
  filter: none;
}
/* End Projects */

.footer {
  display: flex;
  position: relative;
  background: #000;
  bottom: 0px;
  color: #fff;
  font-size: 14px;
}
.footer p {
  margin: 5px;
}
.footer a {
  padding-top: 15px;
  color: #fff;
}
.copyright, .my-github {
  padding-top: 15px;
}